@model TravelPackage.Models.tpProducts

<div>
    <h1>Camiguin Tour Package</h1>

    <hr />
    <h3>Highlights</h3>
    <p> 1. Sunken Cemetery </p>
    <p> 2. White island</p>
    <p> 3. Katibawasan falls </p>
    <p> 4. Ardent Hot Spring</p>
    <p> 5. Walkway to Old Volcano, </p>
    <p> 6. Gui-ob Church </p>
    <p> 7. Sto. Niño Cold Spring </p>

    <hr />
	
	<h3>Highlights</h3>
    <p> 1. Sunken Cemetery </p>
    <p> 2. White island</p>
    <p> 3. Katibawasan falls </p>
    <p> 4. Ardent Hot Spring</p>
    <p> 5. Walkway to Old Volcano, </p>
    <p> 6. Gui-ob Church </p>
    <p> 7. Sto. Niño Cold Spring </p>

</div>
