@model TravelPackage.Models.tpProducts

<div>
  <h2> ARDENT HIBOK-HIBOK SPRING RESORT </h2>
  <hr />
  <h3>Cottage & Tent Rates</h3>
	<p>
		<br /> Overnight Tent / Camping – 125.00/head
		<br /> Duplex Cottage (good for 2 pax) – 1,200.00
		<br /> Duplex Cottage (good for 2 pax) – 1,200.00

	</p>

    <h3>Room Rates</h3>
    <p>
		<br /> Dormitory Room (good for 7 pax) – 440.00/pax
		<br /> Dormitory Room (good for 7 pax) – 440.00/pax
		<br /> Economy Room (good for 3 pax) [non-aircon] – 750.00
		<br /> <i>“All rooms and cottages are with aircon and individual toilet and bath.” </i>
		<br /> <i>*Additional Person – 175.00/pax </i>
		<br /> <i>*Check – Out time of 12:00 noon</i>
    </p>

    <hr />
</div>
