@model TravelPackage.Models.tpProducts

<div>
  <h2> BAHAY BAKASYUNAN SA CAMIGUIN </h2>
    <h3> Room Rates </h3>
  <hr />
  <h3>Deluxe rooms (3 clusters)</h3>
	<p>
		<br /> CLUSTER A (twin/double bed) – 5,150.00
		<br /> CLUSTER B (twin/double bed) – 4,850.00
		<br /> CLUSTER C (twin/double bed) – 4,600.00
		<br /> <i>*Additional Person – 1,000.00</i>

	</p>
		<br /> SUPERIOR ROOM (twin/double bed) – 4,700.00
		<br /> SUPREME ROOM (twin/double bed) – 4,600.00
		<br /> SUPREME STANDARD (twin/double bed) – 4,200.00
		<br /> PREMIUM STANDARD (twin/double bed) – 3,600.00
		<br /> <i>Additional Person – 800.00</i>
	</p>

    <p>
		<br /> <i>*All rooms are good for 2 pax </i>
		<br /> <i>*Above rates are inclusive of Government tax & Service charge</i>
		<br /> <i>*Free Daily Coffee (1 round) for Deluxe Room </i>
		<br /> <i>*Free Breakfast of the Day</i>
		<br /> <i>*Welcome Drinks</i>
    </p>

    <hr />
</div>
