@model TravelPackage.Models.tpProducts

<div>
  <h2> CABUA-AN BEACH RESORT </h2>
  <h3> COTTAGES BY THE BEACH </h3>
  <hr />
  <h3>Cottages Rates</h3>
	<p>
		<br /> Suite (w/ Hot Shower) – 1,700.00
		<br /> 2 beds (w/ Hot Shower) – 1,200.00
		<br /> 2 beds – 1,000.00
		<br /> 3 beds – 1,300.00
		<br /> 3 beds (w/ Hot Shower) – 1,500.00
		<br /> 4 beds (w/ Hot Shower) – 1,700.00
		<br /> <i>*Additional person – 150.00 </i>
    <br /> <i>“All rooms and cottages are with aircon and individual toilet and bath.”
            Cable Television is provided in the cottages.</i>

	</p>

    <h3>Room Rates</h3>
    <p>
    <br />5 beds with Aircon – 950.00
		<br />Non-Aircon – 180.00/pax/day
    <br /> <i>*Additional Person – 120.00</i>

    </p>

    <hr />
</div>
