@model TravelPackage.Models.tpProducts

<div>
  <h2> CAVES DIVE RESORT</h2>
  <hr />
  <h3>Room Rates</h3>
	<p>
		<br /> Fan Cottage Room (double or queen-size beds, good for 2 pax) – 1,800.00
		<br /> Aircon Cottage Room (double or queen-size beds, good for 2 pax) - 2,800.00
		<br /> Family Cottage Room (single beds, good for 10 - 12 pax) – 5,500
		<br /> Backpacker's Room (single beds, a shared bathroom) – 875 per pax
		<br /> <i>*Additional Person - 650.00</i>

	</p>

    <hr />
</div>
