@model TravelPackage.Models.tpProducts

<div>
  <h2> PARAS BEACH RESORT </h2>
  <hr />
  <h3>Cottage & Tent Rates</h3>
	<p>
		<br /> Amihan Room (1 Queen and 1 Single Bed) – 4,000.00
		<br /> Garden Room (1 King size Bed) – 4,000.00
		<br /> Family Loft (2 Queen and 1 Sofa Bed) – 3,500.00
    <br /> Ocean View Room (1 King and 1 Single Bed) – 4,000.00
		<br /> Family Room (2 King size Bed) – 4,500.00
		<br /> Cottage (2 Bedrooms with 2 toilet and bath) – 7,000.00
		<br /> Dormitory (12 single beds) – 5,500.00
		<br /> <i>“Additional Bed – 500.00” </i>

	</p>

    <hr />
</div>
