@model TravelPackage.Models.tpProducts

<div>
  <h2> YSA BEACH CAMP & ECO RESORT </h2>
  <hr />
  <h3>Cottage & Tent Rates</h3>
	<p>
		<br /> Biggest Tent (3 Queen-size beds, 6 pax) – 3,500.00
		<br /> Medium Tents (2 Queen-size beds, 4pax) – 2,500.00
		<br /> Small Tents (1 Queen-size bed, 2 pax) – PhP1,500.00

	</p>

    <p>
		<br /> <i>* Roundtrip airport transfers (Benoni port transfers with minimal charge)
		<br /> <i>* Welcome drinks
		<br /> <i>* Basic bath amenities
		<br /> <i>* Children below 6 years old, free of charge
    </p>

    <hr />
</div>
