@model TravelPackage.Models.tpProducts

<div>
    <h1>Samal Inland Tour</h1>

    <hr />
	<h3>Destinations:</h3>
	<p> Monfort Bat Cave- The bat sanctuary in Samal Island.</p>
	<p> Hagimit Falls- quite waterfalls that flows calmly through the rock formations.</p>
	<p> Maxima Aqua-fun and resort</p>
	<p> </p>
	<h3>Inclusions:</h3>
	<p> 10 hours tour</p>
	<p> Air conditioned transportation (Exclusive for the group)</p>
	<p> Applicable Entrances</p>
	<p> Barge Fees, Parking Fees, Environmental Fees</p>
	<p> </p>
	<p> Additional options: Island hopping (Babu Santa, Angel’s Cove, Coral Garden, Isla Reta)</p>
    <hr />
	

</div>
