@model TravelPackage.Models.tpProducts

<div>
    <h1>Seagull Mountain Resort - Buda Marilog</h1>

    <hr />

	<h3>A vacation spot at Buda, Marilog district, Davao along Davao-Bukidnon highway.</h3>

	<h3>Contact Our travel Consultant for Inquiries</h3>
	<p> Ms. Elvie</p>
	<p> email: RealBreezeDavao@Gmail.com</p>
	<p> Globe: +63 916-755-8473</p>
	<p> Smart: +63 909-076-1575</p>
	<p> Sun: +63 933-089-5358</p>

    <hr />
	

</div>
