@model TravelPackage.Models.tpProducts

<div>
    <h1>White Water Rafting - Davao</h1>

    <hr />
    <h3>One of the most exciting water rafting in the Philippines.</h3>
	<p>  For as low as Php 1,700.00 only per pax </p>
	<p>  Minimum of 5 persons per rafting trip </p>
	<p>  </p>
	
	<h3>Inclusions: </h3>
	<p>   Packed Lunch & Bottled water, use of Gear
			& Equipment Raft Guide, Souvenir shirt</p>
	
	<h3>Inclusions: </h3>
    <p> 8:00 AM Assembly time </p>
    <p> 9:30 AM Departure</p>
    <p> 10:30 AM Arrival at Put In Area, Tamugan</p>
    <p> 11:00 AM Start of Rafting </p>
    <p> 12:00 NN Lunch</p>
    <p> 3:00 PM Arrival @ Take out area </p>
    <p> 4:30 PM End  </p>

    <hr />
	

</div>
